<!doctype html>
<title>CodeMirror: Python mode</title>
<link rel="stylesheet" type="text/css" href="/static/themes/darcula.css">
<head>
<script type="text/javascript" src="/static/lib/codemirror.js"></script>
<link rel="stylesheet" type="text/css" href="/static/lib/codemirror.css">
<script type="text/javascript" src="/static/mode/python/python.js"></script>

</head>
<body>
<div id="codeeditor" class="CodeMirror"></div>
    <script type="text/javascript">
    var config, editor;
    config = {
        linenumbers: true,
        mode: "python"
    };
    
    editor = CodeMirror(document.getElementById("codeeditor"), config);
    </script>
   
    
</body></html>
